.sidebar{
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 10;
  transition: all .3s;
  .bg{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    background: #000;
  }
  .sidebar-content{
    margin-top: 70px;
    padding: 30px 0 90px 0;
    width: 90%;
    max-width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    //background: var(--background-bras);
    //background: url("../../assets/images/sidebarBg.jpg");
    //background-attachment: fixed;
    //background-position: bottom;
    //background-size: cover;
    background: var(--background-black);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    color: var(--color-black);
    font-weight: 700;
    border-radius: 0% 100% 100% 0% / 100% 11% 89% 0%;
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;
      li{
        text-align: center;
        padding: 10px 0;
        a{
          text-decoration: none;
          display: block;
          color: var(--color-red);
          transition: all 0.3s;
          &.active{
            font-weight: 700;
            transform: scale(1.1);
          }
        }
        &:hover{
          a{
            color: var(--color-black);
            transform: scale(1.1);
          }
        }
      }
    }
    @media(max-width: 576px){
      max-width: 300px;
    }
  }
  &.open{
    width: 100%;
    .bg{
      visibility: visible;
      opacity: .3;
    }
    .sidebar-content{
      transform: translateX(0);
    }
  }
}